@import url(reset.css);
@import url(variable.css);

.body {
    background: #f9f9f9;
}

.container {
    /* background: #E5E5E5; */
    padding: 0px 56px 56px 56px;
}

.menu_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 107px;
    padding: 31px;
    border-bottom: 2px solid #fff1f1;
}

.hamburger-btn {
    display: none;
}

.logo_content {
    display: flex;

}

.logo_content_title {
    margin-left: 8px;
    font-family: var(--opensans);
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: -0.04em;
    color: var(--black);
}

.nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.nav_list .nav_item a {
    font-family: var(--opensans);
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.02em;
    color: var(--black);
    text-decoration: none;
}

.nav_list :last-child a {
    color: var(--green);
}

.left .title {
    font-family: var(--roboto);
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    color: var(--black);
}

.left .description {
    font-family: var(--opensans);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: var(--black);
}

.left .btn {
    background: #71A894;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 20px 24px;
    font-family: var(--roboto);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: var(--white);
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 38px;


}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 30px;

}

.right {
    flex: 1;
    background-image: url('../image/vector.svg');
    background-repeat: no-repeat;
    background-size: contain;
    /* background-position: 25% 75%; */
    /* background-position:; */
    /* height: 730px; */
    /* width: 100%; */
}

.right img {
    width: 100%;
}

.footer {
    margin-top: 85px;
    border: 1ps solid red;


}

.footer h3 {
    font-family: var(--roboto);
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: var(--black);
}

.footer p {
    margin: 30px 0px 30px 0px;
    font-family: var(--roboto);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.02em;
    color: var(--black);
}

.card {
    box-shadow: 4px 8px 4px 5px #dcd7d79f;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 35px;

}

.cards .card {
    width: 427px;
    height: 340px;
    background-color: var(--white);

}

.cards .card h2 {
    font-family: var(--roboto);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: var(--black);

}

.cards .card p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: var(--black);
}

.card .eclipse {
    margin-bottom: 30px;
}

.mem_left h2 {
    font-family: var(--roboto);
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    color: var(--black);
}

.mem_left p {
    font-family: var(--roboto);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: var(--black);

}

.mem_right h3 {
    font-family: var(--roboto);
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    /* identical to box height, or 125% */
    letter-spacing: -0.02em;
    color: var(--black);
    margin-bottom: 30px;
    padding-top: 20px;
}

.mem_right .mem h5 {
    font-family: var(--roboto);
    font-style: italic;
    font-weight: 100;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height, or 108% */
    letter-spacing: -0.02em;
    color: #66645E
}

.mem_right .mem p {
    font-family: var(--roboto);
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    /* identical to box height, or 162% */
    letter-spacing: -0.02em;
    color: #66645E;
    ;

}

.member {
    display: flex;

    justify-content: space-around;
    align-items: center;
    margin-top: 70px;

}

.mem_left {
    width: 40%;
    margin-left: 80px;

}

.mem_right {
    border: 1px solid var(--gray);
    /* padding: 40px 32px; */
    height: 480px;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    border-radius: 40px;
    box-shadow: 3px 4px 5px 6px #66645E;
    margin-right: 80px;
}

.propasal_widget {

    display: flex;
    justify-content: space-around;
    margin-top: 80px;

}

.propasal_widget .leftside {
    height: 440px;
    width: 420px;
    border: 1px solid #E5E5E5;
    padding: 40px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 4px 3px 2px 5px #7e7e81;
}

.propasal_widget .rightside {
    width: 600px;
}

.propasal_widget .rightside h2 {
    margin-top: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    color: #303031;

}

.propasal_widget .rightside p {
    margin-top: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    /* or 144% */

    letter-spacing: -0.02em;

    /* Black */

    color: #303031;
}

.propasal_widget .leftside p {
    padding-top: 10px;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: -0.02em;

    /* Gray */

    color: #66645E;
}

.propasal_widget .leftside img {
    border-radius: 40px;
}

.leftside .commit {
    display: flex;
    justify-content: space-between;
}

.propasal_widget .leftside button {
    padding: 15px;
    font-size: 18px;
    font-weight: 600;
    color: var(--white);
    background-color: var(--black);
    width: 80%;
    border-radius: 10px;
    margin-top: 30px;

}

.propasal_widget .leftside h3 {
    font-family: var(--roboto);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */
    letter-spacing: -0.02em;
    color: var(--black);
}

.feature .feature_info .section_title {
    font-family: var(--roboto);
    font-style: normal;
    font-weight: bolder;
    font-size: 48px;
    line-height: 64px;
    color: var(--black);
    margin-bottom: 30px;
}

.feature .feature_info .section_description {
    font-family: var(--roboto);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    /* or 144% */
    letter-spacing: -0.02em;
    color: var(--black);
}

.illustration .task .taskmain h5 {
    font-family: var(--roboto);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */

    letter-spacing: -0.02em;
    color: var(--black);
}

.illustration .task p {
    font-family: var(--roboto);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    letter-spacing: -0.02em;

    /* Black */

    color: var(--black);
}

.illustration .task .taskmain button {
    font-family: var(--roboto);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    letter-spacing: -0.02em;
    color: var(--white);
}

.applicants_widget h3 {
    font-family: var(--roboto);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: var(--black);
}

.applicants_widget .user p {
    font-family: var(--roboto);
    font-style: italic;
    font-weight: 100;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */

    letter-spacing: -0.02em;
    color: var(--black);
}



.feature {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
}

.feature .feature_info {
    width: 644px;

    padding: 20px;
    padding-left: 80px;
    height: 334px;
}

.illustration {
    width: 644px;

}

.widget .applicants_widget {
    display: flex;

    justify-content: space-between;

}

.illustration .task {
    width: 644px;
    background-color: white;
    padding: 30px;
    border: 4px solid var(--black);
    border-radius: 20px;
    margin-bottom: 25px;
}

.illustration .task .taskmain {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.illustration .task .taskmain button {
    background-color: var(--green);
    padding: 5px 30px;
    border-radius: 15px;
    border-color: transparent;
}

.applicants_widget .users {
    width: 381px;
    border: 4px solid var(--black);
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px;

}

.applicants_widget .users .user {
    display: flex;
    padding-left: 40px;
}

.applicants_widget .users .user img {
    padding-right: 25px;
    width: 108px;
    border-radius: 50%;

}

.applicants_widget .users .user p {
    padding-top: 15px;
}

.users {
    border-radius: 30px;
}

.profile_widget {
    background-color: var(--white);
    border: 4px solid var(--green);
    border-radius: 20px;
    width: 240px;


}

.alex {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
}

.profile_widget img {
    width: 140px;
    border-radius: 50%;
    margin-top: 30px;
}

.alex h6 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */

    text-align: center;
    letter-spacing: -0.02em;

    /* Black */

    color: #303031;
}

.alex p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: center;
    letter-spacing: -0.02em;

    /* Gray */

    color: #66645E;
}

.profile_widget .pp {
    margin-left: 20px;
    margin-top: 40px;
    font-size: 18px;
    font-family: 'Roboto';
}

.profile_widget button {
    margin-left: 20px;
    margin-top: 15px;
    background-color: var(--black);
    color: var(--white);
    padding: 12px 25px;
    font-size: 18px;
    border-radius: 10px;
}

.open_enterprise {
    margin-top: 100px;

    padding: 60px;
}

.open_enterprise .open_title h1 {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    /* identical to box height, or 133% */

    text-align: center;

    /* Black */

    color: #303031;

}

.open_enterprise .open_title p {

    margin-bottom: 40px;
    text-align: center;
    margin-top: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    /* or 144% */

    text-align: center;
    letter-spacing: -0.02em;

    /* Black */

    color: #303031;
}

.taskdiv div {
    width: 427px;
    height: 236px;
    border-radius: 10px;
    padding: 35px;
    background: var(--white)
}

.taskdiv {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 30px;
}

.taskdiv .div h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */

    letter-spacing: -0.02em;

    /* Black */

    color: #303031;
}

.taskdiv .div p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    letter-spacing: -0.02em;

    /* Black */
    padding-top: 20px;
    color: #303031;
}

.taskdiv .div button {
    border: 1px solid transparent;
    border-radius: 20px;
    margin-top: 20px;
    position: relative;
    left: 100px;
    text-align: center;
    background-color: var(--green);
    color: var(--white);
    padding: 10px 20px;
    width: 180px;
    font-size: 20px;
}

.open_enterprise .view {
    border-radius: 10px;
    margin-left: 45%;
    margin-top: 60px;
    text-align: center;
    padding: 20px 25px;
    width: 200px;
    background-color: var(--black);
    font-size: 20px;
    color: #E5E5E5;
}

.starent {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.starent .info h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 64px;
    /* identical to box height, or 133% */


    /* Black */

    color: #303031;

}

.starent .info p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    /* or 144% */
    margin-top: 25px;
    letter-spacing: -0.02em;

    /* Black */
    width: 600px;

    color: #303031;
}

.starent .info button {
    margin-top: 35px;
    padding: 15px 25px;
    width: 250px;
    border-color: transparent;
    background-color: var(--green);
    color: #fff1f1;
    font-size: 19px;
}

.foot {

    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot h2 {

    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 33px;
    /* identical to box height */

    letter-spacing: -0.04em;

    /* Black */

    color: #303031;
}

.foot nav ul li {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.02em;

    /* Black */

    color: #303031;
}

#last_child {

    color: var(--green);
}

@media screen and (max-width: 1400px) {
    .main {
        flex-direction: column-reverse;
    }

    .left .title {
        font-size: 4rem;
    }

    .hamburger-btn {
        display: inline-block;
    }

    .logo_content_title,
    .nav {
        display: none;
    }

    .left .description {
        width: 80%;
    }

    .left .btn {
        width: 100%;
    }

    .cards {
        display: flex;
        flex-direction: column;
    }

    .cards .card {
        width: 90%;
        margin-bottom: 40px;
    }
}