@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
   --green:#71A894;
   --black:#303031;
   --grey:#66645E;
   --white:#FFFFFF;
   --greytwo:#E7E7E7;
   --roboto: 'Roboto';
   --opensans: 'Open Sans';
}